openapi: 3.1.0
info:
  title: eero API
  description: Unofficial documentation of the eero mesh router API as used by this integration.
  version: "2.2"
servers:
  - url: https://api-user.e2ro.com
paths:
  /2.2/login:
    post:
      summary: Start login flow
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                login:
                  type: string
                  description: Email or phone number
      responses:
        "200":
          description: Login initiated, verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_token:
                    type: string
  /2.2/login/verify:
    post:
      summary: Verify login with code
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
      responses:
        "200":
          description: Login verified
  /2.2/login/refresh:
    post:
      summary: Refresh login session
      responses:
        "200":
          description: Session refreshed
  /2.2/account:
    get:
      summary: Get account data including networks
      responses:
        "200":
          description: Account data with network list
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: object
                    properties:
                      value:
                        type: string
                  phone:
                    type: object
                    properties:
                      value:
                        type: string
                  networks:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
  /2.2/networks/{networkId}:
    get:
      summary: Get network details
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Network data
  /2.2/networks/{networkId}/devices:
    get:
      summary: List client devices on the network
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of client device objects
  /2.2/networks/{networkId}/eeros:
    get:
      summary: List eero devices on the network
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of eero device objects
  /2.2/networks/{networkId}/profiles:
    get:
      summary: List profiles on the network
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of profile objects
  /2.2/networks/{networkId}/backup_access_points:
    get:
      summary: List backup access points
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Array of backup access point objects
  /2.2/networks/{networkId}/backup_access_points/connectivity_check:
    post:
      summary: Run internet backup connectivity test
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Test initiated
  /2.2/networks/{networkId}/thread:
    get:
      summary: Get Thread network data
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Thread network data
  /2.2/networks/{networkId}/thread/enable:
    post:
      summary: Enable or disable Thread
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: Thread setting updated
  /2.2/networks/{networkId}/settings:
    put:
      summary: Update network settings
      description: Used for band steering, IPv6, local DNS caching, SQM, UPnP, WPA3, etc.
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Settings updated
  /2.2/networks/{networkId}/guestnetwork:
    put:
      summary: Update guest network settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: Guest network updated
  /2.2/networks/{networkId}/dns:
    put:
      summary: Update DNS settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dns:
                  type: object
                  properties:
                    custom:
                      type: object
      responses:
        "200":
          description: DNS settings updated
  /2.2/networks/{networkId}/dns_policies/adblock:
    post:
      summary: Set ad block for network or profiles
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enable:
                  type: boolean
                profiles:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Ad block updated
  /2.2/networks/{networkId}/dns_policies/network:
    post:
      summary: Set network-level DNS content filter
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                block_malware:
                  type: boolean
      responses:
        "200":
          description: Network DNS policy updated
  /2.2/networks/{networkId}/profiles/{profileId}/dns_policies:
    post:
      summary: Set profile-level content filters
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                block_gaming_content:
                  type: boolean
                block_illegal_content:
                  type: boolean
                block_messaging_content:
                  type: boolean
                block_pornographic_content:
                  type: boolean
                block_shopping_content:
                  type: boolean
                block_social_content:
                  type: boolean
                block_streaming_content:
                  type: boolean
                block_violent_content:
                  type: boolean
                safe_search_enabled:
                  type: boolean
                youtube_restricted:
                  type: boolean
      responses:
        "200":
          description: Profile DNS policy updated
  /2.2/networks/{networkId}/profiles/{profileId}/dns_policies/applications/blocked:
    put:
      summary: Set blocked applications for a profile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                applications:
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: Blocked applications updated
  /2.2/networks/{networkId}/profiles/{profileId}:
    put:
      summary: Update profile (e.g. pause)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paused:
                  type: boolean
      responses:
        "200":
          description: Profile updated
  /2.3/networks/{networkId}/devices/{mac}:
    put:
      summary: Update client device (e.g. pause, secondary WAN)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: mac
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paused:
                  type: boolean
                secondary_wan_deny_access:
                  type: boolean
      responses:
        "200":
          description: Device updated
  /2.2/networks/{networkId}/ddns/{target}:
    delete:
      summary: Delete DDNS target
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: target
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: DDNS target deleted
  /2.2/networks/{networkId}/backupinternet:
    put:
      summary: Set backup internet enabled
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
      responses:
        "200":
          description: Backup internet setting updated
  /2.2/networks/{networkId}/reboot:
    post:
      summary: Reboot the network
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reboot initiated
  /2.2/networks/{networkId}/speedtest:
    post:
      summary: Run a speed test
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Speed test initiated
  /2.2/networks/{networkId}/updates:
    post:
      summary: Trigger firmware update
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Update initiated
  /2.2/networks/{networkId}/updates/preferred_update_hour:
    put:
      summary: Set preferred update hour
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preferred_update_hour:
                  type: string
      responses:
        "200":
          description: Preferred update hour set
  /2.2/networks/{networkId}/insights:
    get:
      summary: Get network-level activity insights
      description: Used for adblock, blocked, and inspected metrics.
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                start:
                  type: string
                end:
                  type: string
                cadence:
                  type: string
                timezone:
                  type: string
                insight_type:
                  type: string
      responses:
        "200":
          description: Activity insight data
  /2.2/networks/{networkId}/data_usage:
    get:
      summary: Get network-level data usage
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Data usage series
  /2.2/eeros/{eeroId}/led:
    put:
      summary: Set eero status light
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                led_on:
                  type: boolean
                led_brightness:
                  type: integer
                  minimum: 0
                  maximum: 100
      responses:
        "200":
          description: LED setting updated
  /2.2/eeros/{eeroId}/reboot:
    post:
      summary: Reboot an individual eero
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reboot initiated
  /2.2/eeros/{eeroId}/nightlight/settings:
    put:
      summary: Set nightlight settings (Beacon only)
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                brightness_percentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                schedule:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                    "on":
                      type: string
                      description: "HH:MM format"
                    "off":
                      type: string
                      description: "HH:MM format"
      responses:
        "200":
          description: Nightlight settings updated
  # --- Auth & Account ---
  /2.2/login/resend:
    post:
      summary: Resend login verification code
      responses:
        "200":
          description: Verification code resent
  /2.2/logout:
    post:
      summary: Log out current session
      responses:
        "200":
          description: Logged out
  /2.2/register:
    post:
      summary: Register a new account
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                phone:
                  type: string
      responses:
        "200":
          description: Registration initiated
  /2.2/account/name:
    put:
      summary: Update account name
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Name updated
  /2.2/account/email:
    put:
      summary: Update account email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        "200":
          description: Email updated
  /2.2/account/phone:
    put:
      summary: Update account phone
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
      responses:
        "200":
          description: Phone updated
  /2.2/account/push_settings:
    put:
      summary: Update push notification settings
      responses:
        "200":
          description: Push settings updated
  /2.2/account/pushdevices:
    post:
      summary: Register a push notification device
      responses:
        "200":
          description: Device registered
  /2.2/account/pushdevices/{id}:
    delete:
      summary: Unregister a push notification device
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device unregistered
  /2.2/account/trust:
    get:
      summary: List trusted devices
      responses:
        "200":
          description: Trusted devices
    post:
      summary: Add trusted device
      responses:
        "200":
          description: Device trusted
    put:
      summary: Update trusted device
      responses:
        "200":
          description: Trust updated
  /2.2/account/trust/{serial}:
    delete:
      summary: Remove trusted device
      parameters:
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Trust removed
  # --- Network Advanced Settings ---
  /2.2/networks/{networkId}/net_rules:
    get:
      summary: Get reservations, port forwards, and firewall rules
      description: Returns containers of devices, forwards, and reservations. URLs are dynamic per-network from resources.
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Net rules data
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            mac:
                              type: string
                            nickname:
                              type: string
                  forwards:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/NetworkForward"
                  reservations:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/NetworkReservation"
  /2.2/networks/{networkId}/forwards:
    post:
      summary: Create a port forward rule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkForward"
      responses:
        "200":
          description: Port forward created
  /2.2/networks/{networkId}/forwards/{forwardUrl}:
    put:
      summary: Update a port forward rule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: forwardUrl
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkForward"
      responses:
        "200":
          description: Port forward updated
    delete:
      summary: Delete a port forward rule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: forwardUrl
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Port forward deleted
  /2.2/networks/{networkId}/reservations:
    post:
      summary: Create an IP reservation
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkReservation"
      responses:
        "200":
          description: Reservation created
  /2.2/networks/{networkId}/reservations/{reservationUrl}:
    put:
      summary: Update an IP reservation
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: reservationUrl
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NetworkReservation"
      responses:
        "200":
          description: Reservation updated
    delete:
      summary: Delete an IP reservation
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: reservationUrl
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Reservation deleted
  # --- Power Saving ---
  /2.2/networks/{networkId}/power_saving:
    put:
      summary: Update power saving settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Power saving updated
  /2.2/networks/{networkId}/power_saving/schedules:
    get:
      summary: List power saving schedules
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedules list
    post:
      summary: Create a power saving schedule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule created
  /2.2/networks/{networkId}/power_saving/schedules/{scheduleId}:
    put:
      summary: Update a power saving schedule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule updated
    delete:
      summary: Delete a power saving schedule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: scheduleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule deleted
  # --- Notifications ---
  /2.2/networks/{networkId}/notifications:
    get:
      summary: Get notification settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Notification settings
    put:
      summary: Update notification settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Settings updated
  /2.2/networks/{networkId}/notifications/has_unread:
    get:
      summary: Check for unread notifications
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Unread status
  /2.2/networks/{networkId}/notifications_history:
    get:
      summary: Get notification history
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Notification history
  /2.2/networks/{networkId}/notifications/mark_read:
    post:
      summary: Mark notifications as read
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Marked read
  # --- DNS Allowlists & Blocklists ---
  /2.2/networks/{networkId}/dns_policies/network/allowed:
    put:
      summary: Set network-level DNS allowed domains
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Allowed list updated
  /2.2/networks/{networkId}/dns_policies/network/blocked:
    put:
      summary: Set network-level DNS blocked domains
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Blocked list updated
  /2.2/networks/{networkId}/dns_policies/profiles/allowed:
    put:
      summary: Set profile-level DNS allowed domains
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Allowed list updated
  /2.2/networks/{networkId}/dns_policies/profiles/blocked:
    put:
      summary: Set profile-level DNS blocked domains
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Blocked list updated
  /2.2/networks/{networkId}/dns_policies/advanced_content_filter:
    get:
      summary: Get advanced content filter settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Advanced content filter data
  # --- Data Usage ---
  /2.2/networks/{networkId}/data_usage/breakdown:
    get:
      summary: Get data usage breakdown by category
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Usage breakdown
  /2.2/networks/{networkId}/data_usage/devices:
    get:
      summary: Get data usage per device
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Per-device usage
  /2.2/networks/{networkId}/data_usage/devices/{deviceMac}:
    get:
      summary: Get data usage for a specific device
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: deviceMac
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device usage data
  /2.2/networks/{networkId}/data_usage/profiles/{profileId}:
    get:
      summary: Get data usage for a profile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Profile usage data
  /2.2/networks/{networkId}/data_usage/report_settings:
    get:
      summary: Get data usage report settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Report settings
    put:
      summary: Update data usage report settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Report settings updated
  # --- Members & Invites ---
  /2.2/networks/{networkId}/members:
    get:
      summary: List network members
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Network members
  /2.2/networks/{networkId}/invites:
    get:
      summary: List pending invites
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invites list
    post:
      summary: Send an invite
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invite sent
  /2.2/networks/{networkId}/invites/{inviteId}:
    put:
      summary: Update an invite
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: inviteId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invite updated
    delete:
      summary: Delete an invite
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: inviteId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Invite deleted
  /2.2/networks/{networkId}/admins/{userId}:
    delete:
      summary: Remove a network admin
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Admin removed
  # --- Eero Device ---
  /2.2/eeros/{eeroId}/action:
    post:
      summary: Perform eero action (e.g. identify via LED cycle)
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Action performed
  /2.2/eeros/{eeroId}/nightlight/override:
    post:
      summary: Override nightlight state temporarily
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Override applied
  /2.2/eeros/{serial}/led_cycle:
    post:
      summary: Flash LED to identify an eero
      parameters:
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: LED cycling
  /2.2/eeros/{serial}/pre_setup_config:
    get:
      summary: Get eero pre-setup configuration
      parameters:
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pre-setup config
  /2.2/eeros/{eeroId}/firmware_update/history:
    get:
      summary: Get firmware update history for an eero
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Firmware history
  /2.2/eeros/{eeroId}/authorization_status:
    get:
      summary: Check eero authorization status
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Authorization status
  # --- Insights ---
  /2.2/networks/{networkId}/insights/devices:
    get:
      summary: Get device-level insights
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device insights
  /2.2/networks/{networkId}/insights/profiles:
    get:
      summary: Get profile-level insights
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Profile insights
  /2.2/networks/{networkId}/insights/devices/{deviceMac}:
    get:
      summary: Get insights for a specific device
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: deviceMac
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device insight data
  /2.2/networks/{networkId}/insights/profiles/{profileId}:
    get:
      summary: Get insights for a specific profile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Profile insight data
  # --- Premium & Entitlements ---
  /2.2/premium/customer:
    get:
      summary: Get premium customer info
      responses:
        "200":
          description: Customer data
  /2.2/premium/customer/plans:
    post:
      summary: Subscribe to a premium plan
      responses:
        "200":
          description: Plan subscribed
  /2.4/premium/plans/{id}:
    get:
      summary: Get premium plan details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Plan details
  /2.2/entitlements/networks/{networkId}/features:
    get:
      summary: Get enabled premium features for a network
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Feature list
  # --- Misc Network ---
  /2.2/networks/{networkId}/radio_settings:
    get:
      summary: Get radio settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Radio settings
  /2.2/networks/{networkId}/wpa3_per_band:
    get:
      summary: Get WPA3 per-band settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: WPA3 per-band settings
    put:
      summary: Update WPA3 per-band settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: WPA3 settings updated
  /2.2/networks/{networkId}/mlo_mode:
    put:
      summary: Set MLO (Multi-Link Operation) mode
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: MLO mode updated
  /2.2/networks/{networkId}/fast_transition:
    get:
      summary: Get fast transition (802.11r) setting
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Fast transition setting
    put:
      summary: Set fast transition (802.11r)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Fast transition updated
  /2.2/networks/{networkId}/passpoint/enabled:
    put:
      summary: Enable or disable Passpoint (Hotspot 2.0)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Passpoint setting updated
  /2.2/networks/{networkId}/subnets_config:
    get:
      summary: Get subnet configuration (VLANs)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subnet config
    put:
      summary: Update subnet configuration
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Subnet config updated
  /2.2/networks/{networkId}/network_scan:
    get:
      summary: Get network topology scan
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Network scan data
  /2.2/networks/{networkId}/channel_utilization:
    get:
      summary: Get channel utilization data
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Channel utilization
  /2.2/networks/{networkId}/cellular_backup_usage:
    get:
      summary: Get cellular backup data usage
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cellular usage data
  /2.2/networks/{networkId}/cellular_backup_events:
    get:
      summary: Get cellular backup events
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cellular events
  /2.3/networks/{networkId}/multistaticip:
    get:
      summary: Get multi static IP configuration
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Static IP config
    put:
      summary: Update multi static IP configuration
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Static IP config updated
  /2.2/networks/{networkId}/captive_portal/configurations:
    get:
      summary: Get captive portal configurations
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Captive portal configs
  /2.2/networks/{networkId}/devices/{mac}/labels:
    get:
      summary: Get device labels
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: mac
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device labels
    put:
      summary: Update device labels
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: mac
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Labels updated
  /2.2/eero_models/capabilities:
    get:
      summary: Get capabilities by eero model
      responses:
        "200":
          description: Model capabilities
  /2.2/util/generatepassword:
    post:
      summary: Generate a random WiFi password
      responses:
        "200":
          description: Generated password
  /2.2/networks/{networkId}/ddns/enable:
    put:
      summary: Enable Dynamic DNS
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: DDNS enabled
  /2.2/networks/{networkId}/ddns/disable:
    put:
      summary: Disable Dynamic DNS
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: DDNS disabled
  /2.3/networks/{networkId}/devices/secondary_wan_config:
    put:
      summary: Update secondary WAN configuration
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Secondary WAN config updated
  /2.2/networks/{networkId}/business_guest_network:
    put:
      summary: Update business guest network settings
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Business guest network updated
  /2.2/networks/{networkId}/app_events:
    get:
      summary: Get network app events
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App events
  /2.2/networks/{networkId}/auto_discovered_eeros:
    get:
      summary: List auto-discovered eeros nearby
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Discovered eeros
  /2.3/networks/{networkId}/pending_eeros:
    get:
      summary: List pending eeros awaiting setup
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Pending eeros
  # --- Accessories ---
  /2.2/networks/{networkId}/accessories/{serialNumber}:
    get:
      summary: Get accessory details
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: serialNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Accessory details
    delete:
      summary: Remove an accessory
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: serialNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Accessory removed
  # --- Placement Testing ---
  /2.3/networks/{networkId}/placement_test/{serial}:
    get:
      summary: Get placement test results
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Placement test results
    post:
      summary: Start a placement test
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Test started
components:
  schemas:
    NetworkForward:
      type: object
      properties:
        description:
          type: string
        enabled:
          type: boolean
        ip:
          type: string
        protocol:
          type: string
          enum: [tcp, udp, both]
        gateway_port:
          type: string
        client_port:
          type: string
    NetworkReservation:
      type: object
      properties:
        url:
          type: string
        description:
          type: string
        mac:
          type: string
        ip:
          type: string
        public_static_ip:
          type: string
  # --- Additional endpoints from fulviofreitas/eero-api ---
  /2.2/networks/{networkId}/blacklist:
    get:
      summary: List blocked devices
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Blocked device list
    post:
      summary: Block a device by MAC
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mac:
                  type: string
      responses:
        "200":
          description: Device blocked
  /2.2/networks/{networkId}/blacklist/{mac}:
    delete:
      summary: Unblock a device
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: mac
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Device unblocked
  /2.2/networks/{networkId}/speedtest/history:
    get:
      summary: Get speed test history
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Speed test results history
  /2.2/eeros/{eeroId}/connections:
    get:
      summary: Get eero mesh connections (wired vs wireless backhaul)
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Mesh connection details including backhaul type
  /2.2/networks/{networkId}/guestnetwork/name:
    put:
      summary: Set guest network name (SSID)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Guest network name updated
  /2.2/networks/{networkId}/guestnetwork/password:
    put:
      summary: Set guest network password
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
      responses:
        "200":
          description: Guest network password updated
    delete:
      summary: Clear guest network password
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Guest network password cleared
  # --- Network Configuration ---
  /2.2/networks/{networkId}/settings/name:
    put:
      summary: Rename network (causes mesh reboot)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Network renamed
  /2.2/networks/{networkId}/settings/password:
    put:
      summary: Change network password (causes mesh reboot)
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
      responses:
        "200":
          description: Network password changed
  /2.2/networks/{networkId}/settings/dhcp:
    put:
      summary: Set DHCP mode (causes mesh reboot)
      description: Values - automatic, manual, custom. Manual/custom allow setting subnet, range, etc.
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: DHCP mode updated
  /2.2/networks/{networkId}/settings/connection_mode:
    put:
      summary: Set connection mode (causes mesh reboot)
      description: Values - BRIDGE or NAT
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connection_mode:
                  type: string
                  enum: [BRIDGE, NAT]
      responses:
        "200":
          description: Connection mode updated
  /2.2/networks/{networkId}/settings/nat_port_randomization:
    put:
      summary: Enable/disable NAT port randomization
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: NAT port randomization updated
  # --- Profile Management ---
  /2.2/networks/{networkId}/profiles:
    post:
      summary: Create a new profile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Profile created
  /2.2/networks/{networkId}/profiles/{profileId}/delete:
    delete:
      summary: Delete a profile
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Profile deleted
  /2.2/networks/{networkId}/profiles/{profileId}/schedules:
    get:
      summary: Get profile bedtime schedules
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule list
    post:
      summary: Create a bedtime schedule
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
        - name: profileId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Schedule created
  # --- Diagnostics ---
  /2.2/networks/{networkId}/diagnostics:
    get:
      summary: Get diagnostic data
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Diagnostic data
    post:
      summary: Run diagnostics
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Diagnostics initiated
  # --- Eero Device Actions ---
  /2.2/eeros/{eeroId}/ports/{interfaceNumber}/action:
    post:
      summary: Perform port action (e.g. POWER_CYCLE_ALL_PORTS)
      parameters:
        - name: eeroId
          in: path
          required: true
          schema:
            type: string
        - name: interfaceNumber
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Action performed
  /2.2/eeros/{serial}/pppoe:
    post:
      summary: Configure PPPoE settings
      parameters:
        - name: serial
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: PPPoE configured
  /2.2/networks/{networkId}/routing:
    get:
      summary: Get routing table
      parameters:
        - name: networkId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Routing data
